.configConexion{
    width: 100%;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    
    .configConexion__flex{
        gap: .5rem;
    }

    .contenidoInput{
        width: 100%;
    }
}