<div class="navInterna-clientes">
  <div class="navInterna-clientes__header">
    <h4 class="navInterna-clientes__title">{{'MENU.BUSINESS_ENTITIES.ENTITIES.USES.TITLE' | translate}}</h4>
    <div class="dataTables_length navInterna-clientes__cta">
      <a class="botonRojo" [routerLink]="'/entidades/esquemas/clientes/usos/crear-uso'">+ {{'BUTTONS.CREATE_USE' | translate}}</a>
    </div>
  </div>

  <div class="wrapperFiltros">
    <div class="dataTables_length elementoCreado" id="tickets-table_length">
      <label>{{'GENERAL.QUANTITY_DATES' | translate}}</label>
      <label class="elementoCreado__item"> {{usos.length}} </label> 
    </div>
  
    <div id="tickets-table_filter" class="dataTables_filter">
      <input type="text" name="searchTerm" placeholder="Tipo" class="form-control" aria-controls="tickets-table" [(ngModel)]="query">
    </div>
  
    <div id="tickets-table_filter2" class="dataTables_filter keywo">
      <a href="#" class="keywo__search">
        <svg class="keywo__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.413 18.414">
          <g transform="translate(0.5 0.5)">
            <path id="Trazado_24601" data-name="Trazado 24601" d="M17.307,16.794l-5.3-5.3a6.919,6.919,0,1,0-.513.513l5.3,5.3a.363.363,0,1,0,.513-.513ZM6.893,13.06A6.167,6.167,0,1,1,13.06,6.893,6.174,6.174,0,0,1,6.893,13.06Z" transform="translate(0 0)" fill="#fff"/>
            <path id="Trazado_24601_-_Contorno" data-name="Trazado 24601 - Contorno" d="M17.051,17.914a.857.857,0,0,1-.61-.253l-4.974-4.974a7.419,7.419,0,1,1,1.22-1.22l4.974,4.974a.863.863,0,0,1-.61,1.473ZM6.893,1.226A5.667,5.667,0,1,0,12.56,6.893,5.674,5.674,0,0,0,6.893,1.226Z" transform="translate(0 0)" fill="#413434"/>
          </g>
        </svg>
      </a>
      <input type="text" name="searchTerm" placeholder="keyword" class="form-control keywo__input" aria-controls="tickets-table" [(ngModel)]="query">
    </div>
  </div>

  <div class="table-responsive tableResponsive">
    <table id="basic-datatable"
           class="table dt-responsive nowrap datatables no-footer dtr-inline">
      <thead class="tableResponsive__header">
      <tr class="tableResponsive__wrapperHeader">
        <th class="tableResponsive__headerTitulo">{{'MENU.BUSINESS_ENTITIES.ENTITIES.USES.CODE' | translate}}</th>
        <th class="tableResponsive__headerTitulo">{{'MENU.BUSINESS_ENTITIES.ENTITIES.USES.NAME' | translate}}</th>
        <th class="tableResponsive__headerTitulo">{{'MENU.BUSINESS_ENTITIES.ENTITIES.USES.PERCENTAGE_QUALITY' | translate}}</th>
        <th class="tableResponsive__headerTitulo">{{'MENU.BUSINESS_ENTITIES.ENTITIES.USES.STEWARD' | translate}}</th>
        <th class="tableResponsive__headerTitulo">{{'MENU.BUSINESS_ENTITIES.ENTITIES.USES.CONCEPT' | translate}}</th>
        <th class="tableResponsive__headerTitulo">{{'MENU.BUSINESS_ENTITIES.ENTITIES.USES.ATTRIBUTES' | translate}}</th>
      </tr>
      </thead>

      <tbody *ngFor="let uso of usos;let i=index" class="tableResponsive__body">
      <tr>
        <td class="tableResponsive__bodyInfo">
          <ngb-highlight [result]="uso.codigo" [term]="'codigo'">
          </ngb-highlight>
        </td>
        <td class="tableResponsive__bodyInfo">
          <ngb-highlight [result]="uso.nombre" [term]="'nombre'">
          </ngb-highlight>
        </td>
        <td class="tableResponsive__bodyInfo">
          <ngb-highlight [result]="(uso.porcentajeCalidad/100) | percent" [term]="'porcentajeCalidad'">
          </ngb-highlight>
        </td>
        <td class="tableResponsive__bodyInfo">
          <ngb-highlight [result]="uso.steward" [term]="'steward'">
          </ngb-highlight>
        </td>
        <td class="tableResponsive__bodyInfo">
          <ngb-highlight [result]="uso.concepto" [term]="'concepto'">
          </ngb-highlight>
        </td>
        <td class="tableResponsive__bodyInfo">
          <ngb-highlight [result]="uso.atributos" [term]="'atributos'">
          </ngb-highlight>
        </td>
        <td class="tableResponsive__bodyInfo tableResponsive__bodyInfo--actions">
          <a href="#" class="tableResponsive__bodyButton">
            <svg xmlns="http://www.w3.org/2000/svg" width="16.09" height="16.09" viewBox="0 0 16.09 16.09">
              <path id="Icon_metro-flow-tree" data-name="Icon metro-flow-tree" d="M18.388,14.642V12.653a3,3,0,0,0-3-3H13.681A1.284,1.284,0,0,1,12.4,8.373V6.384a2.054,2.054,0,1,0-1.712,0V8.373A1.284,1.284,0,0,1,9.4,9.657H7.69a3,3,0,0,0-3,3v1.989a2.054,2.054,0,1,0,1.712,0V12.653A1.284,1.284,0,0,1,7.69,11.369H9.4a2.964,2.964,0,0,0,1.284-.3v3.572a2.054,2.054,0,1,0,1.712,0V11.069a2.964,2.964,0,0,0,1.284.3h1.712a1.284,1.284,0,0,1,1.284,1.284v1.989a2.054,2.054,0,1,0,1.712,0ZM11.541,3.337a1.185,1.185,0,1,1-1.185,1.185,1.185,1.185,0,0,1,1.185-1.185ZM5.55,17.689A1.185,1.185,0,1,1,6.735,16.5,1.185,1.185,0,0,1,5.55,17.689Zm5.991,0A1.185,1.185,0,1,1,12.726,16.5a1.185,1.185,0,0,1-1.185,1.185Zm5.991,0A1.185,1.185,0,1,1,18.717,16.5a1.185,1.185,0,0,1-1.185,1.185Z" transform="translate(-3.496 -2.468)" fill="#747474"/>
            </svg>
          </a>

          <a href="#" class="tableResponsive__bodyButton">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.097 16.36">
              <g id="Icon_feather-edit-3" data-name="Icon feather-edit-3" transform="translate(-3.5 -3.318)">
                <path id="Trazado_34578" data-name="Trazado 34578" d="M25.548,31H18a1,1,0,0,1,0-2h7.548a1,1,0,0,1,0,2Z" transform="translate(-5.952 -11.322)" fill="#747474"/>
                <path id="Trazado_34579" data-name="Trazado 34579" d="M17.081,3.318a2.779,2.779,0,0,1,1.965,4.744L8.562,18.546a1,1,0,0,1-.465.263l-3.355.839A1,1,0,0,1,3.53,18.435l.839-3.355a1,1,0,0,1,.263-.465L15.115,4.132A2.761,2.761,0,0,1,17.081,3.318ZM7.344,16.936,17.632,6.648a.779.779,0,1,0-1.1-1.1L6.242,15.834,5.874,17.3Z" transform="translate(0 0)" fill="#747474"/>
              </g>
            </svg>
          </a>
          <a href="#" class="tableResponsive__bodyButton">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.239 17.347">
              <g id="delete_5_" data-name="delete (5)" transform="translate(0.4 0.4)">
                <path id="Trazado_19512" data-name="Trazado 19512" d="M10.383,16.945H3.05a2.318,2.318,0,0,1-1.676-.724A2.52,2.52,0,0,1,.7,14.472V5.2a1.88,1.88,0,0,1,.78-3.591H3.061V1.529A1.933,1.933,0,0,1,3.626.16,1.91,1.91,0,0,1,4.983-.4H8.449A1.91,1.91,0,0,1,9.807.16a1.935,1.935,0,0,1,.565,1.372v.082h1.584a1.88,1.88,0,0,1,.78,3.591v9.267a2.521,2.521,0,0,1-.678,1.75A2.316,2.316,0,0,1,10.383,16.945ZM2.272,5.359v9.113a.835.835,0,0,0,.778.9h7.332a.835.835,0,0,0,.778-.9V5.359Zm-.8-2.17a.3.3,0,0,0,0,.6H11.955a.3.3,0,1,0,0-.6ZM4.636,1.614H8.8v-.09a.347.347,0,0,0-.347-.351H4.983a.344.344,0,0,0-.244.1.348.348,0,0,0-.1.25Z" transform="translate(0.003 0.002)" fill="#e3001e"/>
              </g>
            </svg>
          </a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  
  <app-footer-pagination [totalElements]="usos.length"></app-footer-pagination>
</div>
