<header id="page-topbar">
    <div class="navbar-header">
        <div class="d-flex burgerBuscador">


            <button type="button" class="btn btn-sm px-3 font-size-16 vertinav-toggle header-item waves-effect"
                id="vertical-menu-btn" (click)="toggleMobileMenu($event)">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <button type="button"
                class="btn btn-sm px-3 font-size-16 horinav-toggle header-item waves-effect waves-light"
                data-bs-toggle="collapse" data-bs-target="#topnav-menu-content" (click)="toggleMobileMenu($event)">
                <i class="fa fa-fw fa-bars"></i>
            </button>

            <!-- App Search-->
            <form class="app-search d-none d-lg-block buscador">
                <div class="position-relative buscador__relativo">
                    <input type="text" class="form-control buscador__input" placeholder="Buscar e ir a entidad...">
                    <span class="mdi mdi-magnify buscador__icono buscador__icono--izq">
                        <svg class="buscador__svg" xmlns="http://www.w3.org/2000/svg"viewBox="0 0 14.543 13.675">
                            <g id="Group_4" data-name="Group 4" transform="translate(0.75 0.75)">
                              <path id="Shape" d="M4.849,10.448a5.6,5.6,0,1,1,5.6-5.6A5.605,5.605,0,0,1,4.849,10.448Zm0-9.7a4.1,4.1,0,1,0,4.1,4.1A4.1,4.1,0,0,0,4.849.75Z" fill="#343434"/>
                              <path id="Shape-2" data-name="Shape" d="M4.248,3.85a.747.747,0,0,1-.441-.144L-.442.606A.75.75,0,0,1-.606-.442.75.75,0,0,1,.442-.606l4.249,3.1A.75.75,0,0,1,4.248,3.85Z" transform="translate(8.794 9.075)" fill="#343434"/>
                            </g>
                        </svg>
                    </span>

                    <span class="buscador__icono buscador__icono--der">
                        <svg class="buscador__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 9.75 18">
                            <g id="_9035307_git_branch_outline_icon" data-name="9035307_git_branch_outline_icon" transform="translate(8.75 17) rotate(180)" opacity="0.5">
                              <path id="Elipse_1" data-name="Elipse 1" d="M2-1A3,3,0,1,1-1,2,3,3,0,0,1,2-1ZM2,3A1,1,0,1,0,1,2,1,1,0,0,0,2,3Z" transform="translate(0)" fill="#e3001e"/>
                              <path id="Elipse_2" data-name="Elipse 2" d="M2-1A3,3,0,1,1-1,2,3,3,0,0,1,2-1ZM2,3A1,1,0,1,0,1,2,1,1,0,0,0,2,3Z" transform="translate(0 12)" fill="#e3001e"/>
                              <path id="Línea_1" data-name="Línea 1" d="M0,9A1,1,0,0,1-1,8V0A1,1,0,0,1,0-1,1,1,0,0,1,1,0V8A1,1,0,0,1,0,9Z" transform="translate(2 4)" fill="#e3001e"/>
                              <path id="Elipse_3" data-name="Elipse 3" d="M1-.75A1.75,1.75,0,1,1-.75,1,1.752,1.752,0,0,1,1-.75Zm0,2A.25.25,0,1,0,.75,1,.25.25,0,0,0,1,1.25Z" transform="translate(6 5)" fill="#e3001e"/>
                              <path id="Trazado_1" data-name="Trazado 1" d="M0,5.117a1,1,0,0,1-1-1A2.452,2.452,0,0,1,.244,1.885a6.347,6.347,0,0,1,1.982-.627C3.8.942,4.1.742,4.1,0a1,1,0,1,1,2,0A2.794,2.794,0,0,1,4.783,2.508a6.471,6.471,0,0,1-2.164.711C1.159,3.512,1,3.66,1,4.117A1,1,0,0,1,0,5.117Z" transform="translate(1.774 7.495)" fill="#e3001e"/>
                            </g>
                        </svg>
                    </span>
                </div>
            </form>
        </div>

        <div class="d-flex notificacionPerfil">

            <div class="dropdown notificacion" ngbDropdown>
                <button type="button" class="btn header-item noti-icon waves-effect notificacion__boton" ngbDropdownToggle
                    id="page-header-notifications-dropdown" data-bs-toggle="dropdown" aria-haspopup="true"
                    aria-expanded="false">
                    <i class="mdi mdi-bell" class="notificacion__contenido">
                        <svg class="notificacion__svg" id="Notification_Bell" data-name="Notification Bell" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20.418 20.418">
                            <path id="Shape" d="M0,.8a.794.794,0,0,0,.789.8h7.7a.8.8,0,0,0,0-1.6H.789A.794.794,0,0,0,0,.8Z" transform="translate(5.554 10.887)"/>
                            <path id="Shape-2" data-name="Shape" d="M18.308,11.82l-.272-1.881a.792.792,0,0,0-.9-.679.8.8,0,0,0-.681.9l.368,2.552a.789.789,0,0,0,.789.687h.422a.8.8,0,0,1,0,1.6H2.4a.8.8,0,0,1,0-1.6h.422a.8.8,0,0,0,.789-.687l.858-6.126A5.78,5.78,0,0,1,6.956,2.575a5.948,5.948,0,0,1,3.335-.98,5.883,5.883,0,0,1,2.192.452.8.8,0,0,0,.64-1.462A6.93,6.93,0,0,0,10.291,0,7.7,7.7,0,0,0,6.085,1.246a7.355,7.355,0,0,0-3.2,5.119L2.123,11.82A2.392,2.392,0,0,0,2.4,16.59H18.036a2.393,2.393,0,0,0,.272-4.77Z" fill="#aaa"/>
                            <path id="Shape-3" data-name="Shape" d="M2.375,19.705A2.378,2.378,0,0,1,.006,17.6.792.792,0,0,1,.7,16.72a.8.8,0,0,1,.885.7.782.782,0,0,0,.789.69.782.782,0,0,0,.79-.69.8.8,0,0,1,.885-.7.792.792,0,0,1,.708.884,2.381,2.381,0,0,1-2.382,2.1Z" transform="translate(7.876 0.713)" fill="#e3001e"/>
                        </svg>                          
                    </i>
                    <span class="badge bg-danger rounded-pill notificacion__alerta"></span>
                </button>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-end p-0"
                    aria-labelledby="page-header-notifications-dropdown" ngbDropdownMenu>
                    <div class="p-3">
                        <div class="row align-items-center">
                            <div class="col">
                                <h6 class="m-0"> Notifications </h6>
                            </div>
                            <div class="col-auto">
                                <a href="#" class="small" key="t-view-all"> View All</a>
                            </div>
                        </div>
                    </div>
                    <ngx-simplebar style="max-height: 230px;">
                        <a href="" class="text-reset notification-item d-block active">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-primary rounded-circle font-size-16">
                                        <i class="bx bx-cart"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mt-0 mb-1" key="t-your-order">{{ 'HEADER.NOTIFICATIONS.FIRST.TITLE' |
                                        translate}}</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1" key="t-grammer">{{ 'HEADER.NOTIFICATIONS.FIRST.TEXT' |
                                            translate}}</p>
                                        <p class="mb-0 font-size-12"><i class="mdi mdi-clock-outline"></i> <span
                                                key="t-min-ago">{{ 'HEADER.NOTIFICATIONS.FIRST.TIME' |
                                                translate}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-reset notification-item d-block ">
                            <div class="d-flex">
                                <img src="assets/images/users/avatar-3.jpg" class="me-3 rounded-circle avatar-xs"
                                    alt="user-pic">
                                <div class="flex-1">
                                    <h6 class="mt-0 mb-1">{{ 'HEADER.NOTIFICATIONS.SECOND.TITLE' | translate}}</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1" key="t-simplified">{{ 'HEADER.NOTIFICATIONS.SECOND.TEXT' |
                                            translate}}</p>
                                        <p class="mb-0 font-size-12"><i class="mdi mdi-clock-outline"></i> <span
                                                key="t-hours-ago">{{ 'HEADER.NOTIFICATIONS.SECOND.TIME' |
                                                translate}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                        <a href="" class="text-reset notification-item d-block ">
                            <div class="d-flex">
                                <div class="avatar-xs me-3">
                                    <span class="avatar-title bg-success rounded-circle font-size-16">
                                        <i class="bx bx-badge-check"></i>
                                    </span>
                                </div>
                                <div class="flex-1">
                                    <h6 class="mt-0 mb-1" key="t-shipped">{{ 'HEADER.NOTIFICATIONS.THIRD.TITLE' |
                                        translate}}</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1" key="t-grammer">{{ 'HEADER.NOTIFICATIONS.THIRD.TEXT' |
                                            translate}}</p>
                                        <p class="mb-0 font-size-12"><i class="mdi mdi-clock-outline"></i> <span
                                                key="t-min-ago">{{ 'HEADER.NOTIFICATIONS.THIRD.TIME' |
                                                translate}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>

                        <a href="" class="text-reset notification-item d-block ">
                            <div class="d-flex">
                                <img src="assets/images/users/avatar-4.jpg" class="me-3 rounded-circle avatar-xs"
                                    alt="user-pic">
                                <div class="flex-1">
                                    <h6 class="mt-0 mb-1">{{ 'HEADER.NOTIFICATIONS.FOUR.TITLE' | translate}}</h6>
                                    <div class="font-size-13 text-muted">
                                        <p class="mb-1" key="t-occidental">{{ 'HEADER.NOTIFICATIONS.FOUR.TEXT' |
                                            translate}}</p>
                                        <p class="mb-0 font-size-12"><i class="mdi mdi-clock-outline"></i> <span
                                                key="t-hours-ago">{{ 'HEADER.NOTIFICATIONS.FOUR.TIME' |
                                                translate}}</span></p>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </ngx-simplebar>
                    <div class="p-2 border-top d-grid">
                        <a class="btn btn-sm btn-link font-size-14 text-center" href="javascript:void(0)">
                            <i class="mdi mdi-arrow-right-circle me-1"></i> <span>{{
                                'HEADER.NOTIFICATIONS.LOAD_MORE' | translate}}</span>
                        </a>
                    </div>
                </div>
            </div>

            <div class="dropdown perfil" ngbDropdown>
                <button type="button" class="btn header-item waves-effect perfil__contenido" ngbDropdownToggle
                    id="page-header-user-dropdown" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img class="rounded-circle header-profile-user" src="assets/images/users/avatar-1.jpg"
                        alt="Header Avatar">
                    <div class="perfil__infoDropdown">

                        <div class="perfil__nombreCargo">
                            <h2 class="d-none d-xl-inline-block perfil__nombre">Usuario Name</h2>
                            <h4 class="perfil__cargo">Cargo</h4>
                        </div>

                        <i class="mdi mdi-chevron-down d-none d-xl-inline-block perfil__flechaAbajo"></i>
                    </div>
                </button>
                <div class="dropdown-menu dropdown-menu-end" ngbDropdownMenu>
                    <!-- item-->
                    <h6 class="dropdown-header">{{ 'HEADER.WELCOME' | translate}}</h6>
                    <a class="dropdown-item" href="#"><i
                            class="mdi mdi-account-circle text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle" key="t-profile">{{ 'HEADER.LOGIN.PROFILE' | translate}}</span></a>
                    <a class="dropdown-item" routerLink="/pages/profile"><i
                            class="mdi mdi-message-text-outline text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle" key="t-messages">{{ 'HEADER.LOGIN.MESSAGES' | translate}}</span></a>
                    <a class="dropdown-item" href="#"><i
                            class="mdi mdi-calendar-check-outline text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle" key="t-taskboard">{{ 'HEADER.LOGIN.TASKBOARD' | translate}}</span></a>
                    <a class="dropdown-item" href="#"><i
                            class="mdi mdi-lifebuoy text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle" key="t-help">{{ 'HEADER.LOGIN.HELP' | translate}}</span></a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#"><i
                            class="mdi mdi-wallet text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle" key="t-balance">{{ 'HEADER.LOGIN.BALANCE' | translate}} :
                            <b>$1901.67</b></span></a>
                    <a class="dropdown-item" href="#"><span
                            class="badge bg-success bg-soft text-success mt-1 float-end">New</span><i
                            class="mdi mdi-cog-outline text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle" key="t-settings">{{ 'HEADER.LOGIN.SETTINGS' | translate}}</span></a>
                    <a class="dropdown-item" href="#"><i
                            class="mdi mdi-lock text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle" key="t-lock-screen">{{ 'HEADER.LOGIN.LOCK_SCREEN' |
                            translate}}</span></a>
                    <a class="dropdown-item" href="javascript: void(0);" (click)="logout()"><i
                            class="mdi mdi-logout text-muted font-size-16 align-middle me-1"></i> <span
                            class="align-middle" key="t-logout">{{ 'HEADER.LOGIN.LOGOUT' | translate}}</span></a>
                </div>
            </div>

        </div>
    </div>
</header>