.tableResponsive__header{
    margin-bottom: 1.5rem;
    background-color: #fafafa;
    border-radius: 10px;

    .tableResponsive__wrapperHeader{
        border: none;
    }
    
    .tableResponsive__headerTitulo{
        border: none;
        font-family: light;
    }
}
