<ng-container *ngIf="false; else noVacia">
  <app-lista-vacia
    [titulo]="'MENU.CONFIGURATIONS.CONNECTIONS.TITLE' | translate"
    [mensaje]="'Actualmente no cuentas con conexiones creadas'"
    [link]="buttonCreacion">
  </app-lista-vacia>
</ng-container>

<ng-template #noVacia>
  <div class="card-body contenedor conexionCreada">
    <div class="contTituloBread">
      <app-breadcrumbs-items [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs-items>
      <h4 class="tituloPagina">{{'MENU.CONFIGURATIONS.CONNECTIONS.TITLE' | translate}}</h4>
    </div>

    <div class="wrapperFiltros">

      <div class="elementoCreado dataTables_length" id="tickets-table_length">
        <label>{{'MENU.CONFIGURATIONS.CONNECTIONS.CONNECTIONS_CREATED' | translate}}</label>
        <label class="elementoCreado__item">{{conexiones.length}} {{'GENERAL.ITEMS' |translate}}</label>
      </div>
      <!-- Search -->
      <div id="tickets-table_filter" class="dataTables_filter">
        <input type="text" name="searchTerm" placeholder="nombre" class="form-control"
          aria-controls="tickets-table" [(ngModel)]="nombre" (keyup.enter)="agregarParametros()">
      </div>
      <div id="tickets-table_filter2" class="keywo dataTables_filter">
        <a href="#" class="keywo__search">
          <svg class="keywo__svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 18.413 18.414">
            <g transform="translate(0.5 0.5)">
              <path id="Trazado_24601" data-name="Trazado 24601" d="M17.307,16.794l-5.3-5.3a6.919,6.919,0,1,0-.513.513l5.3,5.3a.363.363,0,1,0,.513-.513ZM6.893,13.06A6.167,6.167,0,1,1,13.06,6.893,6.174,6.174,0,0,1,6.893,13.06Z" transform="translate(0 0)" fill="#fff"/>
              <path id="Trazado_24601_-_Contorno" data-name="Trazado 24601 - Contorno" d="M17.051,17.914a.857.857,0,0,1-.61-.253l-4.974-4.974a7.419,7.419,0,1,1,1.22-1.22l4.974,4.974a.863.863,0,0,1-.61,1.473ZM6.893,1.226A5.667,5.667,0,1,0,12.56,6.893,5.674,5.674,0,0,0,6.893,1.226Z" transform="translate(0 0)" fill="#413434"/>
            </g>
          </svg>
        </a>
        <input type="text" name="searchTerm" placeholder="ambiente" class="form-control keywo__input"
        aria-controls="tickets-table" [(ngModel)]="ambiente" (keyup.enter)="agregarParametros()">
      </div>
      <div class="dataTables_length conexionCreada__crearConexion">
        <a class="botonRojo botonRojo--activo" [routerLink]="buttonCreacion.link">{{'BUTTONS.CREATE_CONNECTIONS' | translate}}</a>
      </div>
      <!-- End search -->
    </div>

    <!-- Table -->
    <div class="table-responsive tableResponsive">
      <table id="basic-datatable"
             class="table dt-responsive nowrap datatables no-footer dtr-inline">
        <thead class="tableResponsive__header">
          <tr class="tableResponsive__wrapperHeader">
            <th class="tableResponsive__headerTitulo">{{'MENU.CONFIGURATIONS.CONNECTIONS.NAME' | translate}}</th>
            <th class="tableResponsive__headerTitulo">{{'MENU.CONFIGURATIONS.CONNECTIONS.TYPE' | translate}}</th>
            <th class="tableResponsive__headerTitulo">{{'MENU.CONFIGURATIONS.CONNECTIONS.URL' | translate}}</th>
            <th class="tableResponsive__headerTitulo">{{'MENU.CONFIGURATIONS.CONNECTIONS.USER' | translate}}</th>
            <th class="tableResponsive__headerTitulo">{{'MENU.CONFIGURATIONS.CONNECTIONS.PASSWORD' | translate}}</th>
            <th class="tableResponsive__headerTitulo">{{'MENU.CONFIGURATIONS.CONNECTIONS.ENVIRONMENT' | translate}}</th>
          </tr>
        </thead>
        <tbody *ngFor="let conexion of conexiones;let i=index; trackBy: trackByFn" class="tableResponsive__body">
        <tr>
          <td class="tableResponsive__bodyInfo">
            <ngb-highlight [result]="conexion.nombre" [term]="'nombre'" class="tableResponsive__bodyText">
            </ngb-highlight>
          </td>
          <td class="tableResponsive__bodyInfo">
            <ngb-highlight [result]="conexion.fuente" [term]="'fuente'" class="tableResponsive__bodyText">
            </ngb-highlight>
          </td>
          <td class="tableResponsive__bodyInfo">
            <ngb-highlight [result]="conexion.url" [term]="'url'" class="tableResponsive__bodyText">
            </ngb-highlight>
          </td>
          <td align="center" class="tableResponsive__bodyInfo">
            <ngb-highlight [result]="conexion.usuario" [term]="'usuario'" class="tableResponsive__bodyText">
            </ngb-highlight>
          </td>
          <td align="center" class="tableResponsive__bodyInfo">
            <ngb-highlight [result]="conexion.contrasena" [term]="'password'" class="tableResponsive__bodyText">
            </ngb-highlight>
          </td>
          <td align="center" class="tableResponsive__bodyInfo">
            <ngb-highlight [ngClass]="{'botonAzul': conexion?.ambiente === 'PRODUCCION', 'botonNaranja': conexion?.ambiente === 'PRUEBAS'}" [result]="conexion.ambiente" [term]="'ambiente'">
            </ngb-highlight>
          </td>
          <td class="tableResponsive__bodyInfo tableResponsive__bodyInfo--actions">
            <a href="#" class="tableResponsive__bodyButton" [routerLink]="linkActualizacion + conexion.id">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 17.097 16.36">
                <g id="Icon_feather-edit-3" data-name="Icon feather-edit-3" transform="translate(-3.5 -3.318)">
                  <path id="Trazado_34578" data-name="Trazado 34578" d="M25.548,31H18a1,1,0,0,1,0-2h7.548a1,1,0,0,1,0,2Z" transform="translate(-5.952 -11.322)" fill="#747474"/>
                  <path id="Trazado_34579" data-name="Trazado 34579" d="M17.081,3.318a2.779,2.779,0,0,1,1.965,4.744L8.562,18.546a1,1,0,0,1-.465.263l-3.355.839A1,1,0,0,1,3.53,18.435l.839-3.355a1,1,0,0,1,.263-.465L15.115,4.132A2.761,2.761,0,0,1,17.081,3.318ZM7.344,16.936,17.632,6.648a.779.779,0,1,0-1.1-1.1L6.242,15.834,5.874,17.3Z" transform="translate(0 0)" fill="#747474"/>
                </g>
              </svg>
            </a>
            <a  class="tableResponsive__bodyButton" (click)="eliminarConexion(conexion.id)">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 14.239 17.347">
                <g id="delete_5_" data-name="delete (5)" transform="translate(0.4 0.4)">
                  <path id="Trazado_19512" data-name="Trazado 19512" d="M10.383,16.945H3.05a2.318,2.318,0,0,1-1.676-.724A2.52,2.52,0,0,1,.7,14.472V5.2a1.88,1.88,0,0,1,.78-3.591H3.061V1.529A1.933,1.933,0,0,1,3.626.16,1.91,1.91,0,0,1,4.983-.4H8.449A1.91,1.91,0,0,1,9.807.16a1.935,1.935,0,0,1,.565,1.372v.082h1.584a1.88,1.88,0,0,1,.78,3.591v9.267a2.521,2.521,0,0,1-.678,1.75A2.316,2.316,0,0,1,10.383,16.945ZM2.272,5.359v9.113a.835.835,0,0,0,.778.9h7.332a.835.835,0,0,0,.778-.9V5.359Zm-.8-2.17a.3.3,0,0,0,0,.6H11.955a.3.3,0,1,0,0-.6ZM4.636,1.614H8.8v-.09a.347.347,0,0,0-.347-.351H4.983a.344.344,0,0,0-.244.1.348.348,0,0,0-.1.25Z" transform="translate(0.003 0.002)" fill="#e3001e"/>
                </g>
              </svg>
            </a>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <!-- End table -->
    <app-footer-pagination *ngIf="totalItems > 0" [totalElements]="totalItems" (pageEventEmitter)="cambiarPagina($event)" (sizeEventEmitter)="cambiarSize($event)"></app-footer-pagination>
  </div>
</ng-template>
