.contenidoInput, .contenidoInput__100{

    .contenidoInput__labelCheck{
        font-size: .9rem;
        font-family: regular;
        color: $azulPrincipal;
    }

    .contenidoInput__label{
        font-family: regular;
        margin: 0;
        margin-bottom: .1rem;
        font-size: .9rem;
        color: $azulPrincipal;
    }

    .contenidoInput__asterisco{
        color: $rojoPrincipal;
        font-family: semibold;
    }

    .contenidoInput__title{
        color: $azulPrincipal;
        font-family: bold;
        font-size: 1rem;
    }
}

.contenidoInput__100{
    width: 100%;
}