/*=========== COLORES PRINCIPALES =========*/

$rojoPrincipal: #E3001E;
$azulPrincipal: #2E4765;
$blancoPrincipal: #fff;
$grisInput: #C5C5C5;
$textColor: #343434;

/*=========== COLORES SECUNDARIOS =========*/

$colorFondo: #F5F6FA;
$amarilloOro: #E4AC49;
$grisCustomer: #f2f2f2;
$textoCustomer: #6E6E6E;
$fondoEntidades: #F8F8F8;
$fondoEnlaces: #f0f0f0;
$actualizacionColor: #F4F5FF;

/*=========== SOMBRAS =========*/

$boxShadow: 13px 13px 18px rgba(46, 71, 101, .15);
$boxShadowButton: 7px 4px 9px rgba(46, 71, 101, .15);

/*=========== COLORES BOTONES ========*/

$azulBoton: #D5DCFF;
$bordeAzul: #2C4BFF;

$naranjaBoton: rgba(255, 243, 221, 0.33);
$bordeNaranja: #E4AC49;

$moradoBoton:#E7D8FF;
$bordeMorado:#510B6A;
$textoMorado: #6E2ED4;

$grisBoton:#F4F4F4;
$bordeGris:#CECECE;

/*=========== BREAKPOINTS =========*/
$desktop: 1440px;
$desktopLarge: 2560px;
$laptop: 1024px;
$tablet: 768px;
$movilLarge: 425px;
$movilMedium: 375px;
$movilSmall: 320px;